
:root {
	font-family: 'Inter', sans-serif; /*spécifie la priorty font family, permet d'optimiser le chargement initial*/
}

/* Styles de base pour éviter le FOUC */
html {
    visibility: visible;
    opacity: 1;
}

html.loading {
    visibility: hidden;
    opacity: 0;
}
body {
	max-width: 1920px;
	margin: auto;
	/* font-family: 'Inter', sans-serif; */
	font-display: swap;
}
* {
	font-family: 'Inter', sans-serif;
	font-style: normal;
}
/*********************retester avec et sans ce style sur img -c'est moi qui l'ai ajouter) pour voir le comportement des images de carousel et about et contact et tester un min-height et min-width adapté*********************************************/
img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
.top-header {
	background-color: white;
	position: sticky;
	top:0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	padding-inline: 100px;
	padding-block: 30px;
	align-items: center;
	min-height: 100px;  /*revoir le vrai dimension mini sur le site ref*/
}
/*optimisation du rendu des polices pour enlever le FOUC*/
h1, h2, h3, .nav-link {
	font-display: swap;
}
.top-header .name {
	font-size: 26px;
}

.nav ul {
	display: flex;
	list-style-type: none;
	font-size: 14px;
	margin-bottom: 0;
}

.nav li {
	padding-inline: 10px;
}

.nav a {
	text-decoration: none;
	color: #000
}

.social-link img {
	width: 20px;
}
/*optimisation du carousel*/

.carousel {
	contain: layout style paint; /*améliore les performances (cf: mdn)*/
	margin: 0 auto;
	overflow: hidden;
}
.carousel-item {
	contain: layout style paint;  /*Vérifier si besoin de le mettre et dans le container et dans le carousel-item la logique serait le conatiner revoir sur mdn, et trouver pourquoi l'image des mariés se charge en version */
	height: auto; /*prend toute la hauteur du carousel*/
	/*min-height: 100vh; hauteur minimale pour éviter le CLS*/
}
.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%; 
    transform: translateZ(0); /* Force hardware acceleration matérielle */
    will-change: transform; /*permet au navigateur d'optimiser l'animation en preparant les ressources necessaires pour gere les transformations de manière plus fluide*/
}

#about {
	display: flex;
	background-color: #F6D2B8;
	padding-inline: 100px;
	padding-block: 100px;
	position: relative;
	/*min-height: 500px; hauteur minimale pour éviter le CLS, vérifier les dimensions et redimensionner l'image si besoin*/
}
.picture.left {
	/* flex: 1; */
	margin: 0 20px;
	z-index: 10;
	/* position: relative; */
	/* width: 100%; */
	/*aspect-ratio: 1/1;*/ /*Maintient un ratio constant*/
}


.picture.left::before {
	content: ' ';
	background-color: #E5975F;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: -1;
}
/* Optimisation spécifique pour l'image About */
/* .picture.left picture {
    display: block;
    width: 100%;
    height: auto;
} */

/* .picture.left img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateZ(0);  Hardware acceleration matérielle (cf: https://www.alsacreations.com/astuce/lire/1565-acceleration-materielle-au-service-de-vos-animations-css.html)
} */
 
.picture {
	flex: 1;
	margin: 0 20px;
	z-index: 0;
	min-height: 299px; 
}

/* .picture img {
	width: 100%;
} */
#about-me {
	flex: 2
}
.about-me__title {
	font-family: 'inter', sans-serif;
	margin-top: 1em;
	margin-bottom: 60px;
	font-size: 30px;
}
.about-me__introduction {
	font-family: 'Spectral', sans-serif;
	font-weight: 800;
	font-style: italic;
	font-size: 28px;
	width: 60%;
}
#about-me p {
	width: 80%;
	font-size: 14px;
}

.title{
	text-align: center;
	padding-block: 2em;
}
.gallery .nav {
	justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: black;
	background-color: #BEB45A;
	border-radius:0;
}
.nav-pills .nav-link {
	color: #000;
	border: none;

}
.item-column {
	position: relative;
	margin-bottom: 0 !important;
	padding: 0;
	min-height: 300px; /*hauteur minimale pour éviter le CLS*/
}
.item-column::after{
	content: "";
	display: block;
	padding-bottom: 100%;

}
.gallery-item {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	padding: .5em;
	aspect-ratio: 1/1; /*force un ratio carré*/
	transform: translatez(0); /*idem que pour carousel force hardware acceleration matérielle */
}
/**optimisation gallery*************/
#gallery {
		min-height: 100vh; 
}

/* .gallery-item {
    position: relative;
    aspect-ratio: 1/1;
    overflow: hidden;
} */

/* .gallery-item img {
    object-fit: cover;
    width: 100%;
    height: auto;
    transform: translateZ(0); acceleration matérielle (cf: https://www.alsacreations.com/astuce/lire/1565-acceleration-materielle-au-service-de-vos-animations-css.html)
} */
/***************************/
.close {
	position: absolute;
   top: 20px;
   right: 4px;
   z-index: 1;
   font-size: 2rem;
   font-weight: 100;
   line-height: 1;
   color: #000;
   border: none;
   background: #fff;
}

.mg-prev {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
	border: none;
	background: white;
	left: -15px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	cursor: pointer;
}
.mg-next {
	width: 30px;
	height: 30px;
	border-radius: 00%;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 24px;
	border: none;
	background: white;
	right: -15px;
	top: 50%;
	position: absolute;
	transform: translateY(-50%);
	cursor: pointer;
}
.mg-next:hover, .mg-prev:hover {
	cursor: pointer;
}
.quote {
	font-family: 'Spectral', sans-serif;
	font-style: italic;
	width: 70%;
	margin: auto;
	padding-block: 3em;
}
.quote__text {
	font-family: 'Spectral', serif;
	font-style: italic;
	font-weight: 300;

}
.quote__author {
	font-family: 'Spectral', serif;
	font-weight: 800;
	font-size: 22px;
}

#services {
	margin: auto;
	background-color: #A8D5D8 ;
	position: relative;
}
#services .container::before{
	content: ' ';
	background-color: #1C6474;
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	left: 0;
	z-index: 0;
}

#services .container {
	justify-content: space-between;
	display: flex;
	padding : 2em 0;

}

.service {
	background-color: white;
	max-width: 390px;
	width: 30%;
	height: 337px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

#contact {
	margin: auto;
	background-color: #D8D3A8 ;
	position: relative;
	padding-inline: 100px;
	padding-block: 100px;
}

#contact .container {
	display: flex;
}
.picture.right::before {
	content: ' ';
	background-color: #BEB45A;
	width: 374px;
	height: 329px;
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.form-container {
	flex : 2;

}
form {
	display: flex;
	flex-direction: column;
	width: 70%;
	align-items: flex-start;
}

form input {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}

form textarea {
	width: 100%;
	background-color: transparent;
	border: solid 1px;
	height: 5em;
	line-height: 2.5em;
	font-size: 1.2em;
	margin-bottom: 20px;
}
.form-button {
	background-color: #BEB45A;
	padding: .5em 1em;
	width: 100%;
	border: solid 1px;
	height: 2.5em;
	margin-bottom: 20px;
}
.form-button:hover {
	cursor: pointer;
}
footer {
	padding: 20px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
}
footer p {
	text-align: center;
	margin: 0;
	padding: 0;
}
.footer-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

 address {
	margin: 0;
	font-size: 14px;
	padding-left: 10px;
	justify-content: start;
 }
 .address-block {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
 }
 .address-block span {
	display: flex;
	padding-left: 10px;
}
 .contact-block {
	display: flex;
	justify-content: center;
	align-items: center;
 }
.contact-link {
	padding: 10px;
}
.horaires {
	display: flex;
	flex-direction: column;
	justify-content: end;
}
@media all and (max-width: 1180px) {
	.picture {
		flex : 2;
	}
	#about, #contact .container {
		align-items: center;
	}
	.about-me__title {
		margin-top: 0;
		margin-bottom: 1em;
	}
	 #about-me p {
		width: 100%;
	}
}

@media all and (max-width: 1000px) {
	#about{
		flex-direction: column;

	}
	.picture {
		width: 50%;
	}
	.picture.left::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: auto;
		top: 0;
		left: 0;
		z-index: -1;
	}
	.about-me__title{
		text-align: center;
		margin-top: 1em;
	}
	#services .container {
		flex-direction: column;
	}
	.service {
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 2em 0
	}
	.service__description{
		margin-bottom: 1em;
	}

	#services .container::before{
		width: 30%;
		height: 100%;
		bottom: 0;
		right: 0;
		left: auto;
		z-index: 0;
	}

	#contact .container {
		flex-direction: column;
	}
	#contact .picture.right {
		margin-top: 1em;
	}
	.picture.right::before {
		width: 100%;
		height: 30%;
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
	}
	.footer-content {
		display: flex;
		flex-direction: column;
	}
}

@media all and (max-width: 650px) {
	.top-header {
		flex-direction: column;
		padding-inline: 0;
	}
	.top-header .nav, .top-header .nav ul {
		width: 100%;
		padding: 0 0 0 0;
	}
	.top-header .nav li {
		flex: 1;
		padding-block: 1em;
		text-align: center;
	}
	.picture.left::before, .picture.right::before {
		height: 150px;
	}
	#services .container {
		align-items: center;
	}
	.service {
		max-width: 90%;
	}
	#about, #contact {
		padding-inline: 2em;
		padding-block: 2em;
	}
	form {
		width: 100%;
	}
	.picture {
		width: 80%;
	}
	footer {
		padding: 10px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	footer p {  
		margin: 0; 
		text-align: center;
		font-size: 12px;
    }
	.close {
	   z-index: 1;
	   font-size: 1rem;
	   font-weight: 100
    }
}